{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-1",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": true }],
    "external-helpers"
  ]
}