{
  "branch": "master",
  "dryRun": false,
  "debug":true,
  "plugins":[
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    ["@semantic-release/git", {
      "assets": ["package.json"],
      "message": "chore(release): 🤖 ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    ["@semantic-release/github",{
      "_assets": ["build/**/*.{js,css}", "typings/**/*.d.ts", "package.json", "LICENSE", "README.md"]
    }]
  ],
  "preset": "angular"
}
